bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.16
idna==2.8
keyring==21.1.0
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
pkginfo==1.8.0
pyBigWig==0.3.17
Pygments==2.5.2
pyparsing==2.4.6
pypi-cli==0.4.1
python-dateutil==2.8.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scipy==1.4.1
six==1.14.0
tqdm==4.41.1
twine==3.1.1
twobitreader==3.1.7
urllib3==1.25.8
webencodings==0.5.1
