certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.16
genomedashboard==0.0.89
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
pyBigWig==0.3.17
pyparsing==2.4.6
pypi-cli==0.4.1
python-dateutil==2.8.1
requests==2.22.0
scipy==1.11.4
six==1.14.0
twobitreader==3.1.7
urllib3==1.25.8
